.footer{
    background-color: var(--rich-black);
    width: 100%;
    padding: 20px 40px;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
}

.footer__logo{
    font-size: 24px;
    font-weight: 700;
    font-family: var(--playfair-display);
    text-transform: uppercase;
    cursor: pointer;
    color: var(--terciary-color);
}

.footer ul:last-child{
    gap: 32px;
}

.footer ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer__social li {
    width: 42px;
    height: 42px;
    border-radius: 100%;
}

.footer__social li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer li{
    list-style: none;
    color: white;
    font-size: medium;
}

.footer li a{
    text-decoration: underline;
}